.button {
  font-weight: bold;
  padding: 0.2rem;
}

.button[data-type="success"] {
  background-color: var(--success-color);
}

.button[data-type="info"] {
  background-color: var(--info-color);
  color: white;
}