.button {
  font-weight: bold;
  padding: 0.2rem;
}

.button[data-type="success"] {
  background-color: var(--success-color);
}

.button[data-type="info"] {
  background-color: var(--info-color);
  color: white;
}

.button[data-type="info-outline"] {
  background-color: white;
  border: 1px solid var(--info-color);
  color: var(--info-color);
}

.button[data-type="info-outline"]:hover {
  background-color: color-mix(in srgb, var(--info-color) 25%, white);
}
