.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.content {
  display:grid;
  grid-template-columns: 1fr minmax(min(48ch, 100%),60ch) 1fr;
}

.grid-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(24ch,100%),1fr));
}
